# Welcome to my Presentation!
## Costco Queries 
## By: Jenna Wanket

Loom link: https://www.loom.com/share/20442d3de1e146a2bf9abeabb7fea1c1

In [ ]:
# import package to make HTTP requests, i.e. fetch URL similar to a browser request
import requests
# import json library to decode JSON
import json
# import for data analysis and manipulation
import pandas as pd
# in order to prettify the text
from bs4 import BeautifulSoup 

from sqlalchemy import create_engine

In [ ]:
# API endpoint
api_url = API_URL

#what we're searching for
params = {'term':'"Costco"','location':'90045'}

#authentication
api_key = API_KEY
headers = {'Authorization': AUTH_TOKEN % api_key}

# make API request
api_request = requests.get(api_url, params=params, headers=headers)

In [ ]:
api_request

In [ ]:
api_request.text

In [ ]:
json.loads(api_request.text)

In [ ]:
api_response = json.loads(api_request.text)

In [ ]:
costco_wholesale_info = api_response['businesses']

In [ ]:
costco_wholesale_data = {
    'name':[],
    'rating':[],
    'address1':[],
    'city':[],
    'state':[],
    'zip_code':[],
    'url':[],
    'id':[]
}

#extracting business information

for costco in costco_wholesale_info:
    name = costco['name']
    costco_wholesale_data['name'].append(name)
    print(name)
    
    rating = costco['rating']
    costco_wholesale_data['rating'].append(rating)
    print(rating)
    
    address1 = costco['location']['address1']
    costco_wholesale_data['address1'].append(address1)
    print(address1)
    
    city = costco['location']['city']
    costco_wholesale_data['city'].append(city)
    print(city)
    
    state = costco['location']['state']
    costco_wholesale_data['state'].append(state)
    print(state)
    
    zip_code = costco['location']['zip_code']
    costco_wholesale_data['zip_code'].append(zip_code)
    print(zip_code)
    
    url = costco['url']
    costco_wholesale_data['url'].append(url)
    print(url)
    
    id = costco['id']
    costco_wholesale_data['id'].append(id)
    print(id)
    
    print('-'*75)

In [ ]:
costco_wholesale_data

In [ ]:
costco_wholesale_data_df = pd.DataFrame(costco_wholesale_data)

In [ ]:
costco_wholesale_data_df

In [ ]:
costco_wholesale_data_df.to_csv('costco_wholesale_info_los_angeles.csv', index=False)

In [ ]:
%reload_ext sql

In [ ]:
%sql mysql://admin:sql_2021@lmu-dev-01.cniirpmw0saj.us-east-1.rds.amazonaws.com/sql_project

# Primary Question: 
What Costco store in the Los Angeles area is best?

# Related Questions: 
What location in Los Angeles has the highest rating and supplies the largest selection of products? What location has the most employees working per rating?

# Exploratory Queries

# #1 
Purpose: This query can be helpful because it provides insight into employee compensation if an employee wants to understand their payment in relation to others as well as age, on average.

In [ ]:
%%sql
SELECT 
	CONCAT(first_name, ' ', last_name) AS employee_full_name,
	age,
	AVG(salary) OVER(
        ORDER BY age
    )AS average_salary_per_age,
	CASE 
		WHEN age < (
			SELECT AVG(age)
			FROM employees e
		) THEN 'younger than average'
		WHEN age BETWEEN (
			SELECT AVG(age)
			FROM employees e
		) AND 50 THEN 'little over average age'
		ELSE 'older than average'
	END AS employee_age_dispersion
FROM employees e 
GROUP BY employee_full_name
ORDER BY salary DESC;

Discovery: What I discovered about this query is that the youngest employees are generally making more money. Because I ordered the query by salary descending, the highest salaries are first on the list. From this, you can see that the top salaries are the younger than average employees.

# #2
Purpose: This query is to showcase how much potential revenue is on hand for the products available. This could help with financial estimations as well as inventory.

In [ ]:
%%sql
SELECT 
	product_name ,
    quantity_on_hand,
    price,
	price * quantity_on_hand AS dollar_amount_available
FROM products p
ORDER BY dollar_amount_available DESC
LIMIT 10;

Discovery: From this query, the business can use this information to decide what products should be marketed more or less. For instance, there is $53,865.00 worth of potential sales coming directly from the WD Austerity 2-8-0 90448 BR Black Late Crest product. Sales and Marketing departments should focus on promoting this product, as well as the other top 10 performers.

# #3
Purpose: This query would benefit the business's customers because they would be able to see what location in Los Angeles provides the highest quantity of goods.

In [ ]:
%%sql
SELECT 
	sd.store_id, 
	name, 
	city, 
	state ,
	SUM(quantity_on_hand) AS highest_products_quantity_available
FROM store_data sd 
JOIN product_store ps
	ON sd.store_id = ps.store_id 
JOIN products p 
	ON ps.product_id = p.product_id 
GROUP BY sd.store_id
ORDER BY highest_products_quantity_available DESC
;

Discovery: I discovered in this query that the highest quantity of goods offered is from a Costco Pharmacy location in Inglewood. This output surprised me and I believe would surprise many people.

# #4
Purpose: This query is meant to display the highest earning employee and the lowest earning employee. This would be helpful for a business to know because managers can understand the dispersion of salary.

In [ ]:
%%sql
SELECT 
    employee_id,
    CONCAT(first_name, ' ', last_name) AS full_name,
    age,
    salary
FROM employees
WHERE salary = (
    SELECT MAX(salary)
    FROM employees
)
    OR salary = (
    SELECT MIN(salary)
    FROM employees
);

Discovery: I discovered from this query that there is a much higher difference between employee salary than I initially thought. From here, the business can dig deeper into what each of their positions are, educational background, age, as well as other factors that effect compensation.

# #5
Purpose: This query outputs the employee information for those who make higher than average compensation (salary). This is beneficial for the business because we can use these employees as a guide for bottom-tier employees who make less than average. I chose to limit the results by 10, ordering by salary descending, in order to only show the top 10 highest salaried employees.

In [ ]:
%%sql
SELECT *
FROM employees e 
WHERE salary > (
	SELECT AVG(salary)
	FROM employees e
)
ORDER BY salary DESC
LIMIT 10;

Discovery: I found that from this query, the top highest earning employees are within the ages of 30-40. This is quite shocking to me because I would initially think that higher earning employees would have worked at the company for 20+ years. Costco is very impressive when it comes to employee retention because they focus on hiring from within and having great rewards. From this query, Costco can compare these results with how long they've been at the company as well as what position they hold.

# Primary Question Query 
I chose to answer the broad question, "What Costco store in the Los Angeles area is best?" because I believe there are many different factors that go into answering it. Each individual is different and has differing needs. Some people value employee interaction/help, some value product selection, and some base the decision entirely upon other's opinions. With this query, I show all possible values to find try and find a correlation with rating from Yelp. I first approached this query by understanding and plotting what columns were most necessary in order to convey the information. I decided to use COUNT() in order to see how many employees work at each store. Next, I used SUM() to add up the total quantity of products that are being held at each location. I used this number rather than counting the number of products because I decided that total quantity would be more beneficial. I then aliased the calculations to improve readability. From there, I looked at the ERD of the database and used multiple JOINs to connect them. The GROUP BY function was lastly used in the CTE to be sure each aggregate function is being properly calculated. I decided to use a Common Table Expression because I find this to be easier to use and read. After the CTE is formatted, I used the AVG() Windows Function to calculate the average total quantity per rating. This will help understand the differences between locations and ratings. Lastly, I ordered the results first by rating and then by total quantity, both of which descending.

In [ ]:
%%sql 
WITH best_costco_cte AS(
	SELECT 
		sd.store_id ,
		name,
		city,
		rating,
		COUNT(employee_id) AS num_of_employee,
		SUM(quantity_on_hand) AS total_quantity_in_store
	FROM employees e 
	JOIN store_data sd 
		ON e.store_id = sd.store_id
	JOIN product_store ps 
		ON sd.store_id = ps.store_id 
	JOIN products p 
		ON ps.product_id = p.product_id 
	GROUP BY sd.store_id 
)
SELECT 
	*,
	AVG(total_quantity_in_store) OVER(
		PARTITION BY rating
	) AS avg_total_quantity_per_rating
FROM best_costco_cte
ORDER BY 
    rating DESC,
    total_quantity_in_store DESC
;

From the query above, I do not see any direct correlations between rating, total quantity, and number of employees. Going on, I would recommend to conduct interviews with the employees, look at the size of the store itself, or look at what other additions Costco has.

# Related Question #1 Query


What location in Los Angeles has the highest rating and supplies the largest selection of products?

I chose to combine questions relating to rating and total number of products available at each location because I wanted to see if there is a strong correlation between the two. This would help Costco understand if the larger the quantity of goods a store has directly relates to a higer rating from Yelp. I first began this problem by SELECTing the columns I knew would be helpful for labeling/understanding the output and those that would be necessary. I used the aggregate function, COUNT(), to select the number of total products (using product_id) found in each store (using store_id). In order to pull from the `product_store` table, I needed to use a JOIN function, connecting the two by using the `store_id` column. I chose to use a Common Table Expression so that I coul easily alias the table names. This will make it easier for analysts to understand the output. I used the aggregate windows function, AVG(), so that I could partition the data by `rating`. I aliased that output as avg_num_of_products_per_rating. Lastly, I ordered the data first by `rating` and second by num_of_products, both in descending order.

In [ ]:
%%sql
WITH product_num_cte AS(
	SELECT 
		sd.store_id ,
		name,
		city, 
		rating,
		COUNT(ps.product_id) AS num_of_products
	FROM store_data sd 
	JOIN product_store ps 
		ON sd.store_id = ps.store_id 
	GROUP BY sd.store_id
)
SELECT 
	name,
	city,
	rating,
    num_of_products,
	AVG(num_of_products) OVER(
		PARTITION BY rating) AS avg_num_of_products_per_rating
FROM product_num_cte
ORDER BY 
    rating DESC,
    num_of_products DESC;

From this related query, I based the overarching question off of both rating and number of products sold. I now recommend that Costco uses the Costco Business Center- Gasoline location as a business model to improve the rest. From the query, I can see that the top 3 locations have high ratings as well as high number of products available. I cannot tell, however, that there is a strong correlation between number of products available and rating. The second location 'Costco Gasoline' in Hawthorn has a 4 star rating and provides a larger array of products, far surpassing the average number per 4 star rating. As you can also see, the average number of products per rating is higher for 3 stars than 4 star ratings. Overall, I would recommend to look at other factors from Hawthron and Inglewood that could provide more insight into higher rating.

# Related Question #2 Query
What location has the most employees working per rating?

I chose to look at the number of employees working at each location per rating in order to see if there is a correlation between employees working and customer satisfaction (rating). This would help Costco deduce if they should hire more employees to be of service to customers. This would potentially lead to higher ratings. I chose to use a VIEW because I wanted to easily save the table for other people to easily use. This would be beneficial to analysts because it saves time and prevents unnecessary mistakes. I began the query by mapping out how I was going to recieve the columns, looking at each table present. I used a JOIN function in order to pull the store data as well as `employee_id`. I then used the COUNT() aggregate function in order to calculate the number of employees that work at each location. Lastly, I grouped by `store_id` to be sure there is no repatition.

Next, after creating the VIEW, I wanted to confirm that the VIEW was working. I knew I was going to use the AVG() function in a later query, so I decided to find the average number of employees working throughout all locations.

Finally, I decided to use the AVG() aggregate function so I can put the total number of employees working into perspective. I then used the CASE function to label each location depending on the average number of employees per rating. I used the PARTITION BY function to make sure it was by rating. Lastly, I used the ORDER BY function to make sure the rating is the initial order, then within the rating ordering by the number of employees working. Both rating and number of employees ordered descending.

In [ ]:
%%sql
CREATE OR REPLACE VIEW employee_store_data AS
	SELECT 
		sd.store_id, 
		name,
		city,
		zip_code,
		rating,
		COUNT(employee_id) AS num_of_employees_working
	FROM store_data sd 
	JOIN employees e
		ON sd.store_id = e.store_id 
	GROUP BY sd.store_id ;

In [ ]:
%%sql
SELECT AVG(num_of_employees_working) AS avg_num_of_employees_working
FROM employee_store_data;

In [ ]:
%%sql
SELECT 
	store_id,
	name,
	rating,
	num_of_employees_working,
    AVG(num_of_employees_working) OVER(
        PARTITION BY rating
    ) AS avg_employees_per_rating,
	CASE 
		WHEN num_of_employees_working < (
			SELECT AVG(num_of_employees_working)
			FROM employee_store_data
		) THEN 'less_than_average_employees'
		WHEN num_of_employees_working > (
			SELECT AVG(num_of_employees_working)
			FROM employee_store_data
		) THEN 'more_than_average_employees'
		ELSE 'average_num_of_employees'
	END AS num_of_employees_label
FROM employee_store_data
ORDER BY 
	rating DESC,
	num_of_employees_working DESC;

From the query, I can see once more that there is no serious correlation between number of employees and rating. The average number of employees per rating is surprisingly higher. From this information, I would recommend that Costco looks further into other factors that could effect rating.

In [ ]:
!jupyter nbconvert presentation.ipynb --to slides --post serve